@import "../../less/variables";

.salary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__tabel {
    border-radius: 5px;

    &--white-theme {
      background-color: rgb(244, 244, 244);
      border: 3px solid white;
      box-shadow: $shadow-size--lg $shadow-blur--lg
        $shadow-color--white-theme;
    }
    &--dark-theme {
      box-shadow: none;
      background-color: rgb(0, 0, 0);
      border: 3px solid rgb(255, 255, 255);
    }
  }

  &__header {
    @extend %header__h2;
    margin-bottom: 10px;

    &--white-theme {
      text-shadow: $shadow-size--sm
        $shadow-color--white-theme;
      color: $header-color--white-theme;
    }
    &--dark-theme {
      text-shadow: none;
      color: $header-color--dark-theme;
    }
  }
  tr {
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    &:hover {
      outline: 2px solid rgb(7, 95, 7);
    }
  }
  th {
    // writing-mode: vertical-lr;
    // writing-mode: vertical-rl;
    // transform: rotate(-90deg);
    // background-color: rgb(153, 183, 236);
    border-radius: 5px;
    background-color: rgb(153, 183, 236);
  }
  td {
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0;
    min-height: 24px; //необхідно для того щоб нащадок "input"
    height: 1px; // зміг прийняти height:100%;
  }
  td[data-no-input] {
    background-color: rgb(205, 255, 226);
  }
  select {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 0;
    border: none;
    font-size: $font-size--p;
    background-color: rgb(251, 255, 133);
    &:hover {
      background-color: rgb(224, 232, 0);
    }
  }
  input {
    background-color: rgb(251, 255, 133);
    height: 100%;
    width: 60px;
    margin: 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: $font-size--p;
    &:hover {
      background-color: rgb(224, 232, 0);
    }
  }
  // &-all {
  //   background-color: rgb(126, 204, 126);
  // }
}
