// @import "../../less/variables";

.language-selector-block {
  border-radius: $button--radius;
}

.language-label {
  font-size: $font-size--p;
}

.language-select {
  border-radius: $button--radius;

  &__option {
    border-radius: $button--radius;
  }
}
