body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  &__top-menu {
    display: flex;
    justify-content: right;
    width: 98vw;

    &--white-theme {
      background-color: $app__bgc--white-theme;
    }
    &--dark-theme {
      background-color: $app__bgc--dark-theme;
    }
  }
  &--white-theme {
    background-color: $app__bgc--white-theme;
  }
  &--dark-theme {
    background-color: $app__bgc--dark-theme;
  }
}
