// @import '../../../../../less/variables';

.input-block {
  display: block;

  &__label {
    margin: 5px;
    width: 75px;
    &:hover {
      color: blue;
    }
  }
  &__input {
    width: 55px;
    border-radius: $button--brd-radius;
    font-size: 1rem;
    margin: 5px 0;
  }

  // &--white-theme {
  //   box-shadow: none;
  // }
  // &--dark-theme {
  //   box-shadow: none;
  // }
}
