// @import '../../../../../less/variables';

.input-box {
  &__label {
    text-align: center;
    margin: 5px;
  }

  &__input {
    padding: 3px 0;
    max-width: 3.75rem;
    border-radius: $button--brd-radius;
    font-size: 1rem;
    // margin: 0.4rem 0;

    &--white-theme {
      color: $text-color--white-theme;
    }
    &--dark-theme {
      color: $text-color--dark-theme;
    }
  }

  &--direction-inline {
    display: inline-block;
  }
  &--direction-block {
    width: 5rem;
  }
}
