// @import '../../../../../less/variables';

.input-box {
  display: block;

  &__label {
    margin: 5px;
    width: 75px;
    &:hover {
      color: blue;
    }
  }
  &__buttons-wrapper {
    width: 3rem;
  }

  &__input {
    width: 55px;
    border-radius: $button--brd-radius;
    font-size: 1rem;
    margin: 5px 0;
    &--white-theme {
      color: $text-color--white-theme;
    }
    &--dark-theme {
      color: $text-color--dark-theme;
    }
  }
}
